* {
  padding: 0px;
  margin: 0px;
}

body {
  cursor: url("./assets/cat cursor.png"), auto;
  background-color: wheat;
  padding: 20px;
}

main {
  background-color: sandybrown;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  height: calc(100vh - 80px); /*balances padding from body and main*/
  padding: 20px;
}

section {
  width: 30%;
}

.section-background {
  color: white;
  background-color: tan;
  border: 10px solid chocolate;
  border-radius: 25px;
  font-size: 15px;
  font-family: cloudy;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 80px;
}

h2,
.cpsNumber,
.counterNumber {
  font-size: 48px;
  text-align: center;
}

h1,
h2,
.cpsNumber,
.counterNumber,
.resetBtn {
  font-family: cloudy;
  color: white;
}

ul {
  list-style-type: none;
}

ul li {
  text-align: center;
}

.cookieBtn {
  background-image: url("https://static.vecteezy.com/system/resources/previews/009/400/368/non_2x/homemade-tasty-cookies-clipart-design-illustration-free-png.png");
  cursor: url("./assets/cat cursor.png"), auto;
  /*button styles*/
  height: 400px;
  width: 100%;
  border: none;
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.resetBtn {
  cursor: url("./assets/cat cursor.png"), auto;
  /*button styles*/
  font-size: 16px;
  text-align: center;
  background-color: transparent;
  border: none;
}

.cat-shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.cat {
  background-image: url("https://img.icons8.com/?size=256&id=121428&format=png");
  cursor: url("./assets/cat cursor.png"), auto;
  /*button styles*/
  height: 125px;
  width: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
}

.cpsNumber,
.counterNumber,
.resetBtn {
  margin-top: 30px;
}

/*button element state*/

button:active {
  transform: translateY(5px);
}

button:disabled {
  transform: none;
  cursor: url("./assets/cat cursor.png"), auto;
}

.resetBtn:hover {
  color: chocolate;
}
