* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: wheat;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 100vh;
}

.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

h1,
h2 {
  font-family: cloudy;
  font-size: 64px;
  color: white;
}

.counterNumber {
  font-family: cloudy;
  color: white;
  font-size: 40px;
  text-align: center;
  margin-top: 60px;
}

.cookieBtn {
  height: 500px;
  width: 500px;
  border: none;
  background-color: transparent;
  background-image: url("https://static.vecteezy.com/system/resources/previews/009/400/368/non_2x/homemade-tasty-cookies-clipart-design-illustration-free-png.png");
  background-size: cover;
  background-position: center;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: translateY(5px);
}

button:disabled {
  transform: none;
  cursor: auto;
}

.section1-background {
  padding: 40px 60px;
  background-color: tan;
  border: 10px solid chocolate;
  border-radius: 25px;
}

.section2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-evenly;
  width: 350px;
  padding: 40px 0px;
}

h2 {
  width: 350px;
  display: flex;
  justify-content: center;
}

.cat {
  background-image: url("https://img.icons8.com/?size=256&id=121428&format=png");
  height: 125px;
  width: 125px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
}

.cpsNumber {
  width: 350px;
  display: flex;
  justify-content: center;
  align-self: end;
  font-family: cloudy;
  color: white;
  font-size: 40px;
}
